
BugstaffUnityGitHub/Assets/SoundEffects/UI/Menu/UI_Menu_Select.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Menu/UI_Menu_Select.wav
BugstaffUnityGitHub/Assets/SoundEffects/UI/Menu/UI_Menu_Scroll.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Menu/UI_Menu_Scroll.wav
BugstaffUnityGitHub/Assets/SoundEffects/UI/Menu.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Door-Gates/Gates/Door Opening_UX_01.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Door-Gates/Gates/Door Opening_UX_01.wav
BugstaffUnityGitHub/Assets/SoundEffects/UI/Door-Gates/Gates/Door Closing_UX_01.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Door-Gates/Gates/Door Closing_UX_01.wav
BugstaffUnityGitHub/Assets/SoundEffects/UI/Door-Gates/Gates.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Door-Gates.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Assest_Buttons_NoBugvision.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Assest_Buttons_NoBugvision.wav
BugstaffUnityGitHub/Assets/SoundEffects/UI/Assest_Buttons_Bugvision.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/UI/Assest_Buttons_Bugvision.wav
BugstaffUnityGitHub/Assets/SoundEffects/UI.meta
BugstaffUnityGitHub/Assets/SoundEffects/PlayerMovement.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_08.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_08.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_07.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_07.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_06.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_06.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_05.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_05.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_04.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_04.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_03.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_03.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_02.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_02.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_01.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision/Enemy_Footsteps_01.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/NOnBugvision.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision08.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision08.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision07.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision07.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision06.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision06.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision05.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision05.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision04.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision04.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision03.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision03.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision02.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision02.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision01.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision/Enemy_Footsteps_Bugvision01.wav
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps/BugVision.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies/Footsteps.meta
BugstaffUnityGitHub/Assets/SoundEffects/Enemies.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies04_Dialogue_TextScroll.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies04_Dialogue_TextScroll.wav
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies03_Dialogue_TextScroll.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies03_Dialogue_TextScroll.wav
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies02_Dialogue_TextScroll.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies02_Dialogue_TextScroll.wav
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies01_Dialogue_TextScroll.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards/Enemies01_Dialogue_TextScroll.wav
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/EnemyGuards.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/BigBoss/BigBoss_Dialogue_TextScroll.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/BigBoss/BigBoss_Dialogue_TextScroll.wav
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/BigBoss.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/Alena/Alena_Dialogue_TextScroll.wav.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/Alena/Alena_Dialogue_TextScroll.wav
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue/Alena.meta
BugstaffUnityGitHub/Assets/SoundEffects/Dialogue.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Inside/Amb_Inside_Warehouse.ogg.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Inside/Amb_Inside_Warehouse.ogg
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Inside/Amb_Inside_ComputerRoom.ogg.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Inside/Amb_Inside_ComputerRoom.ogg
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Inside.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/City Life/Amb_Outside_City01.ogg.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/City Life/Amb_Outside_City01.ogg
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/City Life.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Amb_Outside_Shore/Amb_Shore_Wind.ogg.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Amb_Outside_Shore/Amb_Shore_Wind.ogg
BugstaffUnityGitHub/Assets/SoundEffects/Ambience/Amb_Outside_Shore.meta
BugstaffUnityGitHub/Assets/SoundEffects/Ambience.meta
BugstaffUnityGitHub/Assets/SoundEffects.meta
BugstaffUnityGitHub/Assets/Scripts/TwinsBossFight.cs.meta
BugstaffUnityGitHub/Assets/Scripts/TwinsBossFight.cs
BugstaffUnityGitHub/Assets/Scripts/TextHardcoreEnable.cs.meta
